*{
 margin: 0px;
 padding: 0px;
}
#container{ 
 width: 800px;
 background-color: black;
 margin: 26px auto;
 color: white;
 border: 2px solid grey;
 font-family: "Arial", Verdana, sans-serif;
}
#pictures{
display: inline-block;
}
h1,p{
	padding-left: 22px;
	padding-bottom: 5px;
}
img{
width: 350px;
height: 180px;
margin-left: 20px;
background-color: black;
border: 4px solid grey;
}